html {
    /* Aside from the headers, all the text on the webpage is in Arial*/
    font-family: Arial, Helvetica, sans-serif;

    /* Website background color */
    background-color: #2c263f;

    /* Text unless otherwise specified is a dark forest green*/
    color: #373502;


}

/* changes the color of the svg that's there to hover over to reveal the menu in the mobile view*/
svg:hover line{
    stroke: white;
}

svg{
    display: inline;
}

body, h1, header {
    /* No margins or paddings defaulted*/
    margin: 0;
    padding: 0;
}

h1 {
    /* All h1 text is in the custom */
    font-family: "Boldonse", system-ui;
    font-size: 4em;
    text-align: center;
    padding: 10px;
   
}

h2 {
    font-family: "Boldonse", system-ui;
    font-size: 2em;
    line-height: 1.6;
    text-align: center;
    background-color:#41644a;
    display: inline-flex;
    padding: 0.5em;
    border-radius: 10px;
    color: #213722;
}

h1 {
    background-color: #41644a;
    color: #9E99F8;
}


h3 {
    font-family: "Boldonse", system-ui;
    font-size: 1.5em;
    color: #213722;
}

footer h4{
    background-color:#41644a;
    padding: 10px;
    color: #D5C8B5;  
}

main a {
    color:#f8c662;
}

a:hover{
    color: #D5C8B5;
}


h4 {
    font-family: "Boldonse", system-ui;
    color: #373502;
}

p{
    font-size: 1.5em;
    color:#373502;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana, sans-serif';

}

h1, h5, h6, th, p, ul, li, ol, td {
    color: #D5C8B5;
    
 }

img{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
a {
    text-decoration: none;
    color: #213722;
}


ul {
    font-size: 1.5em;
    text-align: left;
}

ul li {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-areas: 
      "header header " 
      "nav main"
      "nav footer"  ;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 0.8fr 4fr;
    height: 100vh;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
}

.flex-container > div {
    /*
    line-height: 15px;
    font-size: 15px;
    */
    margin: 10px;
    flex: 1; /* Distributes space evenly */
    max-width: 800px;
    min-width: 300px; /* Prevents content from shrinking too much */
}
  
.flex-container img {
    max-width: 70%; /* Makes image responsive */
    height: auto; /* Maintains aspect ratio */
}


header , main, nav, footer{
    border-radius: 10px;
}

header {
    grid-area: header;
    color: #373502;
    position: sticky;

    
}

main {
    grid-area: main;
}

main a {
    color:#6461A0;
}

nav {
    grid-area: nav;
    background-color: #595082;
    color: #213722;
    position: sticky;
    text-align: center;
    margin: 10px;
    top: 0;
    padding: 10px;
    
}

nav h2 {
    color: #213722;
}
footer {
    grid-area: footer;
    /*background-color: lightgray;*/
    text-align: center;
}

/*on web view, the nav icon for the model view is hidden*/
.nav-display{
    display: none;
}

/*on the web view, the nav bar is shown*/
.links {
    display: block;
}

/* TABLET media queries*/
@media (max-width: 768px){
    
    .container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr  auto  auto ;
            grid-template-areas:
            "header  header"
            "nav nav"
            "main main"
            "footer  footer";
            padding: 0px;
    }

    /*on the tablet view, the nav bar icon for mobile is hidden*/
    .nav-display{
        display: none;
    }

    /*on tablet view, the nav bar links are visible*/
    .links {
        display: inline;
    }
    
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    p{
        font-size: 1em;
    }

    h3 {
        margin: 10px;
    }

    nav h3 {
        display: inline-block;
    }

    main {
        padding: 10px;
    }

    .flex-container img {
        width: min-content; /* Makes image responsive */
        height: auto; /* Maintains aspect ratio */
            
    }
    
}


/* MOBILE media queries*/
@media (max-width: 480px){
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr  auto  auto ;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    }

    /*on mobile view, the nav bar icon is visible*/
    .nav-display{
        display: inline;
    }
    /*on the mobile view, the nav bar links are not shown unless the nav bar icon is toggled*/
    .links{
        display:none;
    }


    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1.5em;
    }

    p{
        font-size: 1em;
    }

    h3 {
        margin: 10px;
    }

    nav h3 {
        display: inline-block;
    }

    main {
        padding: 10px;
    }

    nav {
        padding: 0px;
    }
    
    .flex-container img {
        width: min-content; /* Makes image responsive */
        height: auto; /* Maintains aspect ratio */
            
    }
   
}




   

    
    

   